FINAL DELIVERABLES/flows .json
[{"id":"1782c08c2b9229c2","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"0c9a5a9e9319bca7","type":"ibmiot in","z":"1782c08c2b9229c2","authentication":"apiKey","apiKey":"4f30d7c98dd14dfc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IOTSENSOR_1","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":true,"allFormats":true,"qos":"0","x":173.60000610351562,"y":240.00000381469727,"wires":[["5083742ad090f40a","16e1dff4e0b09d07","bc6813c317ea9c09"]]},{"id":"5083742ad090f40a","type":"debug","z":"1782c08c2b9229c2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":364.60003662109375,"y":399,"wires":[]},{"id":"16e1dff4e0b09d07","type":"function","z":"1782c08c2b9229c2","name":"temperature","func":"msg.payload=msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":378.6000061035156,"y":143,"wires":[["d15f3fd14fec4f84"]]},{"id":"bc6813c317ea9c09","type":"function","z":"1782c08c2b9229c2","name":"humidity","func":"msg.payload=msg.payload.randomNumber;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":372.6000061035156,"y":359,"wires":[["03f2b2e323f5e531"]]},{"id":"d15f3fd14fec4f84","type":"ui_gauge","z":"1782c08c2b9229c2","name":"","group":"cdec0a07d6d9d8fa","order":2,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.6000576019287,"y":141.2000026702881,"wires":[]},{"id":"03f2b2e323f5e531","type":"ui_gauge","z":"1782c08c2b9229c2","name":"","group":"cdec0a07d6d9d8fa","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":619.6000366210938,"y":356.20001220703125,"wires":[]},{"id":"4f30d7c98dd14dfc","type":"ibmiot","name":"a-xey3re-6h4grv45zs","keepalive":"3","serverName":"xey3re.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":true},{"id":"cdec0a07d6d9d8fa","type":"ui_group","name":"BME280_sensor","tab":"13ba7ff16aa42aa8","order":1,"disp":true,"width":"6","collapse":false},{"id":"13ba7ff16aa42aa8","type":"ui_tab","name":"ESP32","icon":"dashboard","disabled":false,"hidden":false}]